.map_box{
    width: 1360px;
    height: 700px;
    position: absolute;
    top: 100px;
    background: repeating-linear-gradient(#C69ED0, #582A64);
  }

  .map{
    width: 900px;
    height: 600px;
    position: absolute;
    top: 50px;
    left: 50px;
  }

  .siteTop{
    width: 1360px;
    height: 100px;
    background-color: blueviolet;
  }